<section class="container my-5 position-relative">
    <article class="row">
        <section class="col-md-12 text-center">
            <h2 class="mt-4">Contáctanos</h2>
        </section>
        <section class="col-md-8 offset-md-2">
            <form>
                <div class="mb-1">
                    <label for="">Nombre</label>
                    <input type="text" placeholder="Nombre" class="form-control">
                </div>

                <div class="mb-1">
                    <label for="">Correo</label>
                    <input type="text" placeholder="Correo" class="form-control">
                </div>

                <div class="mb-1">
                    <label for="">Celular</label>
                    <input type="text" placeholder="Celular" class="form-control">
                </div>
                <div class="mb-1">
                    <label for="">Mensaje</label>
                    <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje" class="form-control"></textarea>
                </div>

                <div class="mb-2 text-center">
                    <a href="" class="btn btn-primary">Enviar</a>
                </div>
            </form>
        </section>
    </article>
</section>