<div class="bg-black mt-5">
    <div class="container p-2">
        <section class="row">
            <article class="col-md-6 text-center">
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>

                    <li>
                        <a href="#">Characters</a>
                    </li>

                    <li>
                        <a href="#">About us</a>
                    </li>
                </ul>
            </article>

            <article class="col-md-6 text-center">
                <img src="../../../assets/icons/facebook.png" alt="Facebook" class="mx-1">
                <img src="../../../assets/icons/instagram.png" alt="Instagram" class="mx-1">
                <img src="../../../assets/icons/twitter.png" alt="Twitter" class="mx-1">
                <img src="../../../assets/icons/linkedin.png" alt="Linkedin" class="mx-1">
                <img src="../../../assets/icons/youtube.png" alt="youtube" class="mx-1">

                <section>
                    <span class="text-white">Derechos reservados - Verónica Gomez U. 2021</span>
                </section>
            </article>

        </section>
    </div>
</div>