<div class="row">
    <section class="container">
        <article class="row">
            <div class="col-md-12 text-center mb-2">
                <h2>Characters</h2>
            </div>
            <section class="col-md-12 d-flex align-items-center">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book.
                </p>
            </section>
            <section class="col-md-3">
                <img src="assets/images/programming.jpg" alt="" class="img-fluid">
            </section>
            <section class="col-md-3">
                <img src="assets/images/game.jpg" alt="" class="img-fluid">
            </section>
            <section class="col-md-3">
                <img src="assets/images/developer.jpg" alt="" class="img-fluid">
            </section>
            <section class="col-md-3">
                <img src="assets/images/multitasking.jpg" alt="" class="img-fluid">
            </section>
        </article>
    </section>
</div>