<app-menu-dashboard>

</app-menu-dashboard>
<section class="container my-5">
    <article class="row">
        <section class="col-md-12">
            <h5>Bienvenid@ a la creación de sitios web con Angular: {{user}}</h5>
        </section>
    </article>

    <article class="row mt-3">
        <section class="col-md-4 text-center">
            <b>Contenido</b><br>
            <img src="assets/images/programming.jpg" alt="contenido" class="img-fluid">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </section>
        <section class="col-md-4 text-center">
            <b>Generalidades</b>
            <img src="assets/images/multitasking.jpg" alt="contenido" class="img-fluid">
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
        </section>
        <section class="col-md-4 text-center">
            <b>Foros</b>
            <img src="assets/images/developer.jpg" alt="contenido" class="img-fluid">
            <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing.</p>
        </section>
    </article>
</section>
<app-footer></app-footer>