<nav class="navbar navbar-expand-lg sticky-top navbar-toggleable-sm">
  <a class="navbar-brand" href="#">
    <img class="logo-history img-fluid" src="assets/icons/coso.png" alt="logo"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon ion-md-menu"></span>
  </button>
  <section class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto text-center ml-4">
      <li class="nav-item active">
        <a class="nav-link" href="#header">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#characters">Characters</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" href="#" routerLink="dashboard">Dashboard</a>
      </li>
    </ul>

    <article class="login d-flex flex-row justify-content-center mt-4">
      <section class="icon-details" *ngIf="isLoggedIn" (click)="logout()">
        <p class="nav-user" id="loginUser">{{user.email}}</p>
      </section>
      <app-icon-detail *ngFor='let iconDetail of iconDetails'
                       (message)="alert($event)"
                       [source]="iconDetail.source"
                       (click)="iconDetail.label === 'Logout' ? logout() : null"
                       [link]="iconDetail.link"
                       [label]="iconDetail.label"></app-icon-detail>
    </article>
  </section>
</nav>
